body {
    padding-top: 5rem;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#info1{
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

label {
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 5px;
    display: inline;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
}

textarea {
    height: 100px;
}

.btn-primary {
    background: #5dade2;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
}

.btn-primary:hover {
    background: #3498db;
}

.flashes {
    list-style: none;
    padding: 10px;
    margin: 10px auto;
    max-width: 500px;
    text-align: center;
}

.flashes li {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.flashes .success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}


.flashes .error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
